@import '_variables';

$text-color: $accent;

mat-toolbar {
  background-color: white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.spacer {
  flex: 1 1 auto;
}

.brand-name {
  color: $text-color;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.toolbar-list,
.sidenav-list {
  a {
    color: $text-color;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
    font-weight: bold;
  }
}

.toolbar-list {
  mat-icon {
    margin: 0 0.4rem;
  }
}

.sidenav-list {
  mat-icon {
    margin: 0 1.5rem;
  }
}
