@import '_variables';

.header {
  height: 100vh;
  font-size: 1.5rem;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.brand-name {
  color: $accent;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.menu,
.sidenav {
  mat-icon {
    color: $accent;
    margin: 0 0.4rem;
  }
}

.sidenav {
  mat-icon {
    margin-right: 1.5rem;
  }
}
