<h1 mat-dialog-title>Send invitations</h1>
<small>{{ meetupDescription }}</small>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Guests</mat-label>
      <mat-select formControlName="guests" multiple>
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.email }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button class="mat-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="send()">Send</button>
</mat-dialog-actions>
