<h2 class="main-title">Invitations</h2>

<table mat-table [dataSource]="invitationsDataSource" class="table">
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let element">{{ element.meetupDay | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef>Temperature</th>
    <td mat-cell *matCellDef="let element">{{ element.meetupTemperature }}º</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>

    <td mat-cell *matCellDef="let element" class="actions">
      <div *ngIf="element.status !== InvitationStatus.PENDING">
        {{ element.status | titlecase }}
      </div>

      <div *ngIf="element.status === InvitationStatus.PENDING">
        <a mat-icon-button aria-label="Accept" (click)="acceptInvitation(element)" class="action">
          <mat-icon>check</mat-icon>
        </a>
        <a mat-icon-button aria-label="Decline" (click)="declineInvitation(element)" class="action">
          <mat-icon>cancel</mat-icon>
        </a>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="spinner-container" *ngIf="invitationsDataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
