<h3 class="title">Meetups</h3>

<mat-expansion-panel (opened)="loadDayWeatherForecastList()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create new meetup
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="form" (ngSubmit)="submit()" class="mat-inline-form">
    <mat-form-field class="input">
      <mat-label>Choose a day</mat-label>
      <input
        matInput
        formControlName="day"
        [matDatepicker]="picker"
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="loadTemperature($event.value)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        {{ dayError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Temperature</mat-label>
      <input matInput formControlName="temperature" type="number" />
      <mat-error>
        {{ temperatureError }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="submit">Create</button>
  </form>
</mat-expansion-panel>

<table mat-table [dataSource]="meetupsDataSource" class="table">
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let element">{{ element.day | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="temperature">
    <th mat-header-cell *matHeaderCellDef>Temperature</th>
    <td mat-cell *matCellDef="let element">{{ element.temperature }}º</td>
  </ng-container>

  <ng-container matColumnDef="beerCasesNeeded">
    <th mat-header-cell *matHeaderCellDef>Beer (cases)</th>
    <td mat-cell *matCellDef="let element">{{ element.beerCasesNeeded }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a mat-icon-button aria-label="Invite" (click)="openDialog(element)">
        <mat-icon>group_add</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="spinner-container" *ngIf="meetupsDataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
