@import '_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  margin: 1rem 0;
}

a {
  cursor: pointer;
}

.link,
.link:link,
.link:visited,
.link:hover,
.link:focus,
.link:active {
  color: inherit;
  text-decoration: none;
}

.title {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.icon-text {
  display: flex;
  align-items: center;
}

.spinner-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
